#include <windows.h>
#include "resource.h"

IDD_MAIN DIALOG DISCARDABLE  0, 0, 207, 80
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Por favor, ingrese la patente"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Patente: ",IDC_STATIC,7,10,28,8
    EDITTEXT        IDC_TEXT,39,7,120,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Agregar",IDC_ADD,164,7,31,14
    LTEXT	"Hora de Entrada:",IDC_STATIC,7,30,77,14
    LTEXT	IDC_FECHAIN,80,30,120,14
    LTEXT	"Ticket o Tarjeta:",IDC_STATIC,7,45,77,14
    LTEXT	IDC_CODIGO,80,45,120,14
    LTEXT	"Usuario:",IDC_STATIC,7,60,77,14
    LTEXT	IDC_USUARIO,80,60,120,14
//    EDITTEXT        IDC_SQL,7,80,190,14,ES_AUTOHSCROLL
//    EDITTEXT        IDC_SQLRES,7,100,190,14,ES_AUTOHSCROLL
END

